
img {
    width: 100%;
}
/* .txt > h1 {
    position: relative;
    align-items: center;
    text-align: center;
   
}
.txt > img, .overlay-text {
    position: absolute;
} */
h1 {
    width: 100%;
    font-size:100px;
    color: rgb(0, 0, 0);

    text-decoration: underline;
    display: flex;
    justify-content: center;
}
.heading {
    background-image: url(/img/wood.jpg);
}
.container {
    background-color: aquamarine;
    border: 1px black solid;
}

.fud {
    background-image: url(/img/back.jpg);
    border: 2px black solid;
}
.stars {
    background-image: url(/img/stars.jpg);
    border: 2px black solid;
}
.small {
    width: 100%;
    font-size:75px;
    color: rgb(202, 253, 255);
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
.col {
    border: 1px black solid;
}
.cross {
    width: 100%;
    background-image: url(/img/blck.jpg);
}