
img {
    width: 100%;
}
h1 {
    width: 100%;
    font-size:100px;
    color: rgb(0, 0, 0);
    text-shadow: rgb(160, 158, 158) 5px 0 10px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
.heading {
    background-image: url(/img/sky.jpg);
}
.container {
    background-color: aquamarine;
    border: 1px black solid;
}

.fud {
    background-image: url(/img/dirt.avif);
    border: 2px black solid;
}
.stars {
    background-image: url(/img/stars.jpg);
    border: 2px black solid;
}
.small {
    width: 100%;
    font-size:75px;
    color: rgb(249, 250, 250);
    text-shadow: rgb(0, 0, 0) 5px 0 10px;
    text-decoration: underline;
    display: flex;
    
    justify-content: center;
}
.col {
    border: 2px black double;
    
}
.cross {
    width: 100%;
    background-image: url(/img/blck.jpg);
}
.ocean {
    background-image: url(/img/ocean.jpg);
}
.food {
    background-image: url(/img/food.jpg);
    height: 150px;
}
.txt {
    visibility: hidden;
}
body {
    background: linear-gradient(#c1ffae,#d5fdfb);
}
.space {
    background-image: url(/img/space.jpg);
}
.special {
    text-shadow: #FC0 1px 0 10px;
}
.block {
    display: block;
}