
img {
    width: 100%;
}
.txt > h1 {
    position: relative;
    align-items: center;
    text-align: center;
   
}
.txt > img, .overlay-text {
    position: absolute;
}
h1 {
    width: 100%;
    font-size:100px;

    display: flex;
    justify-content: center;
}
